<h1>New Topic</h1>

<% if @topic.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @topic.errors.full_message.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @topic do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
