<% content_for(:title, "Ailment | Bibliotherapy") %>

<h2><%= @ailment.description %></h2>

<p><%= link_to "Add a Bibliographic Cure", new_ailment_cure_path(@ailment), id: "new_cure_js", remote: true  %></p>

<% if @ailment.cures.any? %>

  <h4>Here are the bibliographic cures for this ailment: </h4>

  <ul>
    <% @ailment.cures.each do |cure| %>
      <li>Headline: <%= cure.headline %></li>
      <li>Therapy: <%= cure.therapy %></li>
      <li>Author: <%= cure.author %></li>
      <li>Book Title: <%= link_to cure.book_title, cure.url %></li>
      <li>Book Cover: <%= image_tag cure.book_cover %></li>
      <li><%= link_to "Edit", edit_ailment_cure_path(@ailment, cure), id: "edit_cure_js", remote: true %></li>
      <li><%= link_to "Delete", ailment_cure_path(@ailment, cure), :data => {:confirm => "Are you sure?", :method => "delete" }%></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no cures yet</p>
<% end %>
