<%= render( 'layouts/errors', :object => @cure ) %>

<%= form_for [@topic, @ailment, @cure] do |f| %>
  <%= f.label :symptom %>
  <%= f.text_field :symptom %>
  <%= f.label :headline %>
  <%= f.text_field :headline %>
  <%= f.label :therapy %>
  <%= f.text_field :therapy %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.label :book_title %>
  <%= f.text_field :book_title %>
  <%= f.label :book_cover %>
  <%= f.text_field :book_cover %>
  <p><%= f.submit %></p>
<% end %>
